.filters {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 1rem;
}

.filters select {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: gainsboro;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media only screen and (max-width: 500px) {

    .filters {
        margin-top: 0.5rem;
    }

    .filters select {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .year-filter {
        display: none;
    }
}

@media only screen and (max-width: 400px) {

    .filters select {
        font-size: 0.6rem;
        padding: 0.2rem;
    }

}