.game-details {
    width: 100%;
}

.game-details h4 {
    white-space: nowrap;
}

.game-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: 0;
}

.game-header,
.game-banner {
    background-color: darkgray;
}

.title {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(1rem + 1vw);
}

.links {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.links a {
    color: black;
    text-decoration: none;
}

.links a:hover {
    color: blue;
    text-decoration: none;
}

.game-banner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1rem;
    height: 12.5rem;
}

.game-banner,
.game-info-container {
    border-bottom: 1px solid black;
}

.game-box-art,
.game-screenshot {
    width: auto;
    height: 100%;
    object-fit: cover;
}

.game-info-container {
    width: 100%;
    text-align: start;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.game-info-container,
.game-description, 
.developer-games-container {
    padding: 1rem 4rem;
    font-size: calc(0.6rem + 0.6vw);
}

.game-info-container h4,
.game-description h4,
.game-info-container p,
.developer-games-container h4
{
    padding: 0;
    margin: 0;
}

.game-info {
    flex: 5;
    padding-right: 0.5rem;
}

.game-info a,
.game-aside a {
    color: black;
    text-decoration: none;
}

.game-info a:hover,
.game-aside a:hover {
    text-decoration: underline;
}

.game-aside {
    flex: 2;
}

.game-description {
    width: 100%;
    text-align: start;
    background-color: darkgray;
}

.game-description p {
    line-height: 1.5;
}

.developer-games-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 4rem;
}

.developer-games {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

@media only screen and (max-width: 800px) {

    .game-screenshot {
        display: none;
    }

    .game-info-container,
    .game-description, .developer-games-container {
        padding: 1rem 2rem;
    }

}

@media only screen and (max-width: 450px) {

    .game-info-container,
    .game-description, .developer-games-container {
        padding: 1rem;
    }

}