header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max(80px, 10px, 10vh);
    z-index: 1100;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', 'Helvetica', 'Futura', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #3e3e3e;
    margin: 0;
    flex-wrap: nowrap;
}

.logo h1 {
    font-size: calc(1.2rem + 1.2vw);
}

.search-bar {
    border: 5px solid white;
    border-radius: 10px;
    width: 120px;
}

input {
    width: 80%;
}

.search-bar, input, .search-icon {
    background-color: #3e3e3e;
    color: white;
}

.search-icon {
    margin: 0;
    padding: 0;
}

.reset-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #3e3e3e;
    color: white;
    border: 5px solid white;
    border-radius: 10px;
    text-align: end;
    font-size: 0.6em;
    padding: 2rem 0.5rem 0.1rem;
}

.reset-button:hover, .reset-button:active {
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 1),
        0px 0px 0px rgba(0, 0, 0, 0.3);
}

.reset-button:active {
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 2),
        0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 450px) {

    .reset-button {
        display: none;
    }

}