header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max(120px, 20vh);
    z-index: 1100;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
    padding-left: max(40px, 3.5vw);
    padding-right: max(3vw, 30px);
    padding-bottom: 1em;
    background-color: darkgrey;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Roboto', 'Helvetica', 'Futura', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #3e3e3e;
    font-size: 1.5rem;
    background-color: gainsboro;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 0.5em;
}

.search-bar {
    border: 5px solid gainsboro;
    border-radius: 10px;
}

.search-bar, input, .search-icon {
    background-color: #3e3e3e;
    color: white;
}

.search-icon {
    margin: 0;
    padding: 0;
}

.reset-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #3e3e3e;
    color: white;
    border: 5px solid gainsboro;
    border-radius: 10px;
    text-align: end;
    font-size: 0.8em;
    padding: 2.5rem 0.5rem 0.1rem;
    margin: 1rem;
}

.reset-button:hover, .reset-button:active {
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 1),
        0px 0px 0px rgba(0, 0, 0, 0.3);
}

.reset-button:active {
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 2),
        0px 0px 0px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 800px) {

    header {
        height: max(80px, 15vh);
    }

    .logo {
        font-size: 1.2rem;
    }

    .reset-button {
        font-size: 0.5em;
        padding: 1.8rem 0.5rem 0.1rem;
    }
}

@media only screen and (max-width: 650px) {

    header {
        height: max(60px, 10vh);
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 1rem;
    }

    .search-bar {
        width: 80px;
    }

    input {
        width: 95%;
    }

    .search-icon {
        display: none;
    }

    .reset-button {
        font-size: 0.5em;
        padding: 1.8rem 0.5rem 0.1rem;
    }
}

@media only screen and (max-width: 500px) {

    header {
        height: max(50px, 8vh);
    }
    
    .logo {
        font-size: 0.6rem;
    }

    .search input {
        font-size: 0.6rem;
    }

    .reset-button {
        font-size: 0.4em;
        padding: 1.5rem 0.5rem 0.1rem;
    }

}