header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: max(80px, 10px, 10vh);
    z-index: 1100;
    display: flex;
    border-bottom: 1px solid black;
    justify-content: space-around;
    align-items: center;
    background-color: gainsboro;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', 'Helvetica', 'Futura', sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #3e3e3e;
    margin: 0;
    flex-wrap: nowrap;
}

.logo h1 {
    font-size: calc(1.2rem + 1.2vw);
}

.logo:hover {
    text-decoration: underline;
}

.metroid {
    font-size: 1.6rem;
    color: gainsboro;
}

.metroid:hover {
    color: red;
}

.search-bar {
    border: 5px solid white;
    border-radius: 10px;
    width: 160px;
}

input {
    width: 88%;
}

.search-bar, input, .search-icon {
    background-color: #3e3e3e;
    color: white;
}

.search-icon {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 500px) {

    .metroid {
        display: none;
    }

}

@media only screen and (max-width: 400px) {

    .search-bar {
        width: 120px;
    }

    input {
        width: 84%;
    }
}