.games-list {
    width: 100%;
    border-collapse: collapse;
}

table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.game-cover {
    width: 50px;
    height: auto;
    object-fit: cover;
}

thead {
    background-color: #f0f0f0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}