footer {
    position: sticky;
    width: 100%;
    padding: 1rem;
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
}

.metroid {
    font-size: 1.6rem;
    color: gainsboro;
}

.metroid:hover {
    color: red;
}

.github-logo {
    font-size: 1.6rem;
    color: black;
}

.github-logo:hover {
    color: blue;
}

.top-arrow {
    font-size: 1.4rem;
    background-color: black;
    color: darkgray;
    border-radius: 5px;
}

.top-arrow:hover {
    color: black;
    background-color: darkgray;
}

@media only screen and (max-width: 500px) {

    .metroid {
        display: none;
    }

}