.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    margin: 0.5rem;
    height: 26rem;
    width: 18rem;
    background-color: gainsboro;
}