#root {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: calc(max(80px, 15vh)); /* Accounts for Header + Filters */
}

section.game-view {
  flex-grow: 1; /* This makes the GameView take up the remaining space */
  overflow-y: auto; /*Allows scrolling if the content overflows */
}

.game-view > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  main {
    padding-top: calc(max(60px, 15vh));
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding-top: calc(max(60px, 10vh));
  }
} 