* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: 'Montserrat', 'Roboto', 'Noto Sans', 'Gill Sans','Futura', Helvetica, sans-serif, Arial;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
  background-color: gainsboro;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

a {
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.rawg-logo {
  color: white !important;
  background-color: black;
  font-weight: 900;
  letter-spacing: 5px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  margin: 0 5px;
}

.rawg-logo:hover {
  color: black !important;
  background-color: white;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  button {
    padding: 0.4em 0.8em;
  }
}