* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gainsboro;
  font-family: 'Roboto', 'Noto Sans', 'Montserrat', 'Gill Sans','Futura', Helvetica, sans-serif, Arial;
  line-height: 1.5;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
  background-color: gainsboro;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

a {
  text-decoration: inherit;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  button {
    padding: 0.4em 0.8em;
  }
}