.game {
    font-family: 'Gill Sans', 'Montserrat';
}

.game-image-container {
    width: 240px;
    height: 160px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    background-color: darkgray;
    border: 1.4rem solid darkgray;
    border-radius: 10px;
    position: relative;
}

.game-cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
    /* transition: transform 0.3s ease; */
}

.game-cover.lazyloaded {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.game-cover.lazyloading {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.game-cover:hover {
    /* transform: translate(-50%, -50%) scale(1.1); */
    border: 1px solid white;
}

.game-name {
    font-size: 1rem;
    font-style: italic;
    font-weight: 600;
    text-transform: uppercase;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding-top: 1em;
}

.game-name a {
    color: black;
}

.game-name a:hover {
    color: blue ! important;
}

.game-name a:visited {
    color: black;
}

.middle-row,
.game-platforms {
    padding: 1em 0;
}

.middle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.middle-row a:hover {
    color: red;
}

.game-platforms {
    font-size: 0.8rem;
}